Repository ieleg/vue3_mapbox: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore, prettier --parser json --write, prettier --parser yaml --write

test hook
  src/views/dashboard/index.scss
Due: prettier --write, stylelint --fix

test hook2
  package.json
Due: prettier --parser json --write

test hook3
  src/views/dashboard/index.scss
Due: prettier --write, stylelint --fix

chore: elment version
  package.json
  src/layout/index.tsx
  src/main.ts
  src/views/dashboard/index.scss
Due: prettier --write, stylelint --fix, prettier --parser json --write

test
  package.json
  src/layout/index.scss
Due: prettier --write, stylelint --fix, prettier --parser json --write

test2
  package.json
  src/views/dashboard/index.scss
Due: prettier --write, stylelint --fix, prettier --parser json --write

chore: husky
  .husky/pre-commit
  package.json
  src/layout/index.scss
  src/views/dashboard/index.scss
Due: prettier --write, stylelint --fix, prettier --parser json --write

fix: 相机移动
  src/components/map/index.tsx
Due: prettier --write

fix: endpos判断是否是数组
  src/components/map/index.tsx
Due: prettier --write

fix: post use data
  src/composition/useRequest/index.ts
Due: prettier --write

fix(useRequest): axios请求通过回调处理传参
  src/components/map/index.tsx
  src/composition/useRequest/index.ts
  src/layout/siderBar/item.tsx
  src/style/element-ui.scss
  src/views/dashboard/index.tsx
Due: prettier --write, stylelint --fix

chore: 固定ui版本
  package.json
Due: prettier --parser json --write

fix: endpos类别
  src/components/map/index.tsx
  src/views/dashboard/index.tsx
Due: prettier --write

chore: gif path
  README.md
Due: none

chore: demo naming
  README.md
Due: none

fix: 入参响应式
  src/composition/useRequest/index.ts
Due: prettier --write

chore: request
  README.md
Due: none

fix: 请求错误处理
  src/composition/useRequest/index.ts
Due: prettier --write

fix: 测试部署
  .gitignore
  deploy.sh
  dist/assets/element-icons.9c88a535.woff
  dist/assets/element-icons.de5eb258.ttf
  dist/assets/index.42797d8b.css
  dist/assets/index.4ef2c626.js
  dist/assets/index.a51de284.js
  dist/assets/index.b3963b29.css
  dist/assets/vendor.d4ff2420.js
  dist/favicon.ico
  dist/index.html
  vite.config.ts
Due: prettier --write

fix: test
  deploy.sh
Due: none

chore: dist
  .gitignore
Due: none

feat: 环境
  .env.development
  .env.production
Due: none

fix: request
  src/composition/useRequest/index.ts
Due: prettier --write

deploy
  assets/element-icons.9c88a535.woff
  assets/element-icons.de5eb258.ttf
  assets/index.075c876e.css
  assets/index.42797d8b.css
  assets/index.9fecd4bc.js
  assets/index.d2fc86ec.js
  assets/vendor.17b446cc.js
  favicon.ico
  index.html
Due: prettier --write

fix: 打包路径
  .env.development
  .env.production
  .gitignore
  dist/assets/index.4ef2c626.js
  dist/assets/index.a51de284.js
  dist/assets/index.b3963b29.css
  dist/assets/vendor.d4ff2420.js
  dist/index.html
  src/composition/useRequest/index.ts
  src/router/index.ts
  vite.config.ts
Due: prettier --write

Path conditions:
  prettier --write: (((any of: *.js) or (any of: *.ts)) or (any of: *.tsx)) or (any of: *.scss)
  stylelint --fix: (any of: *.scss) or (any of: *.vue)
  prettier --parser vue --write: any of: *.vue
  eslint --fix --no-ignore: any of: *.vue
  prettier --parser json --write: any of: {*.json,.*rc}
  prettier --parser yaml --write: any of: *.{yaml,yml}
